@inherits FluxorComponent

<Container Fluid="true">
    <Row>
        <Column>
            <Card Margin="Margin.IsAuto.OnX.Is5.FromTop" Style="max-width: 400px; width: 100%;">
                <CardHeader>
                    <Heading Margin="Margin.IsAuto" Size="HeadingSize.Is4">Join Game</Heading>
                </CardHeader>
                <CardBody>
                    <Validations @ref="_validations" Mode="ValidationMode.Manual">
                        <Field>
                            <FieldLabel>Game Code</FieldLabel>
                            <Validation Validator="@IsValidGameCode">
                                <TextEdit @bind-Text="@Model.GameCode" Placeholder="123456" DelayTextOnKeyPress="false" MaskType="MaskType.RegEx" EditMask="^[0-9]{0,6}$" />
                            </Validation>
                            <FieldHelp>Game code must be 6 digits.</FieldHelp>
                        </Field>
                        <Field>
                            <FieldLabel>Username</FieldLabel>
                            <Validation Validator="@IsValidUserName">
                                <TextEdit @bind-Text="@Model.UserName" Placeholder="Albert" DelayTextOnKeyPress="false" MaskType="MaskType.RegEx" EditMask="^[a-zA-Z0-9]{0,20}$" />
                            </Validation>
                            <FieldHelp>Username must be between 4 and 20 alphanumeric characters.</FieldHelp>
                        </Field>
                        <Button Block="true" Color="Color.Primary" Clicked="@Connect">
                            <Icon Name="IconName.Add"/> Connect
                        </Button>
                    </Validations>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>
